anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1742243108/work
av @ file:///D:/bld/av_1721562075999/work
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/backports.tarfile_1733325779670/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1738740337718/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1733230610871/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1736337859595/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///D:/bld/cffi_1725560655177/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1734693717670/work
click @ file:///D:/bld/click_1734858834134/work
cloup @ file:///home/conda/feedstock_root/build_artifacts/cloup_1742226991730/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1733564795535/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1733238395481/work
dulwich @ file:///D:/bld/dulwich_1740965112352/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1741969488311/work
findpython @ file:///home/conda/feedstock_root/build_artifacts/findpython_1741582825328/work
glcontext @ file:///D:/bld/glcontext_1725374261299/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1733237321392/work
isosurfaces @ file:///home/conda/feedstock_root/build_artifacts/isosurfaces_1709087510374/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1733325873251/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1733382590553/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1733746366381/work
keyring @ file:///D:/bld/keyring_1735210213173/work
manim @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_manim_1737644189/work
ManimPango @ file:///D:/bld/manimpango_1697322908101/work
mapbox_earcut @ file:///D:/bld/mapbox_earcut_1736469261588/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
moderngl @ file:///D:/bld/moderngl_1727269758643/work
moderngl-window @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_moderngl-window_1737534370/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1736883817510/work
msgpack @ file:///D:/bld/msgpack-python_1725975148340/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numpy @ file:///D:/bld/numpy_1742254808786/work/dist/numpy-2.2.4-cp312-cp312-win_amd64.whl#sha256=ab7e8bea9496bdf90f1d6df4b08875e5a1408310f5c565b5df0989d8ecc1e105
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pbs-installer @ file:///home/conda/feedstock_root/build_artifacts/pbs-installer_1742361817622/work
pillow @ file:///D:/bld/pillow_1712154618372/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1739984581450/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1742485085/work
poetry @ file:///D:/bld/poetry_1739782412658/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1739778911743/work
pycairo==1.27.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1734638032476/work
pyglet @ file:///home/conda/feedstock_root/build_artifacts/pyglet_1740430527258/work
pyglm @ file:///D:/bld/pyglm_1738776406965/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1733710025763/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1727282160546/work
PyYAML @ file:///D:/bld/pyyaml_1737454663129/work
RapidFuzz @ file:///D:/bld/rapidfuzz_1740954201717/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
scipy @ file:///C:/bld/scipy-split_1739790745069/work/dist/scipy-1.15.2-cp312-cp312-win_amd64.whl#sha256=6143c228089946cda03218f94fcc2e1883a67f24023bffdb498bf88269edb217
screeninfo @ file:///D:/bld/screeninfo_1715463991603/work
setuptools==75.8.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
skia-pathops @ file:///D:/bld/skia-pathops_1729320201773/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
srt @ file:///D:/bld/srt_1695880371730/work
svgelements @ file:///home/conda/feedstock_root/build_artifacts/svgelements_1692252260255/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1733230743009/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1742485454731/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1741337798015/work
watchdog @ file:///D:/bld/watchdog_1730492904836/work
wheel==0.45.1
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
